version: 0.1
projects:
{{- range $stack := matchPaths ":group/:app/dependencies.json" }}
{{- range $env := matchPaths "environment/:name.tfvars" }}
  - path: {{ trimSuffix $stack._path "dependencies.json" }}
    name: {{ $stack.app }}-{{ $env.name }}
    terraform_var_files:
    {{- if pathExists (trimSuffix $stack._path "dependencies.json") (printf "tfvars/%s.tfvars" $env.name) }}
      - {{ trimSuffix $stack._path "dependencies.json" }}tfvars/{{ $env.name }}.tfvars
    {{- end }}
      - ../../globals.tfvars
      - ../../environment/{{ $env.name }}.tfvars
{{- end }}
{{- end }}