name: "Plan Terraform stacks in Development"
on:
  pull_request:
    branches:
      - main

jobs:
  plan:
    name: Plan Development Terraform
    uses: ukhsa-collaboration/devops-github-reusable-workflows/.github/workflows/terraform-plan-apply.yml@main
    permissions:
      packages: read
      contents: read
      security-events: write
      statuses: write
      checks: write
      id-token: write
    with:
      environment_name: dev
      execute_terraform_plan: false
    secrets:
      AWS_ACCOUNT_ID: "${{ secrets.AWS_ACCOUNT_ID_DEV }}"
      AWS_ROLE_NAME: "${{ secrets.AWS_ROLE_NAME }}" 